/* ---ТИПОГРАФИЯ--- */
/* вторичный цвет текста, заголовки color: #212121;  --secondary-text-color: #212121;*/
/* цвет контактов футере color:  --secondary-contacts-color: rgba(255, 255, 255, 0.6); */
/* основной цвет текста (параграфы) color:#757575  --primary-text-color--*/
/* цвет  текста при ховер color: --accent-color-text: #2196F3; */

/* ---ЦВЕТОГРАФИЯ--- */
/* цет секции герой и футер background:  --background-secondery-color: #2F303A; */
/* основной цвет на странице студии и портфолио background:  --primari-bacground-color: #ffffff; */
/* цвет секции с работниками background: ---bacground-staff-color: #F5F4FA; */
/* цвет кнопки при hover: --bacground-hover-button:#188ce8; */
/* цвет рамки хедера --bordter-color: #ececec; */
/* /* цвет иконок главной страницы --fill-icon: rgba(175, 177, 184, 1); */

/* ---ГЕОМЕТРИЯ--- */
/* отступы между карточками портфолио: --card-gap: 20px; */
/* рамка карточек в портфолио : --border-portfolio: 1px solid rgba(238, 238, 238, 1); */
/* --transition-duration: 250ms; */
/* --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

:root {
  --primary-text-color: #757575;
  --primari-bacground-color: #ffffff;
  --background-secondery-color: #2f303a;
  --bacground-staff-color: #f5f4fa;
  --accent-color-text: #2196f3;
  --secondary-text-color: #212121;
  --secondary-contacts-color: rgba(255, 255, 255, 0.6);
  --bacground-hover-button: #188ce8;
  --border-color: #ececec;
  --card-gap: 30px;
  --border-portfolio: 1px solid rgba(238, 238, 238, 1);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --fill-icon: rgba(175, 177, 184, 1);
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;

  background-color: var(--primari-bacground-color);
  color: var(--primary-text-color);
}

a {
  font-style: normal;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----HEADER---- */
/* логотип */

.first-name,
.second-name,
.second-white-name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  width: 145px;
}

.first-name {
  color: #2196f3;
  margin-right: -4px;
}
.second-name {
  color: var(--secondary-text-color);
}
.second-white-name {
  color: var(--primari-bacground-color);
}

/* ссылки на страницы */
.link {
  color: var(--secondary-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.site-nav,
.link:hover,
.site-nav,
.link:focus {
  color: var(--accent-color-text);
}

.site-nav .link.current {
  color: var(--accent-color-text);
}

.current {
  position: relative;
}
.link {
  position: relative;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  border-radius: 2px;
  background: var(--accent-color-text);
}
.link:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  border-radius: 2px;
  background: var(--accent-color-text);
}

.site-nav,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}

/* ссылки на контакты */
.contacts-link,
.contacts-link-fut,
.map-link {
  line-height: 1.7;
  list-style: none;
}
.contacts-link {
  color: var(--primary-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contacts-link-fut {
  color: var(--secondary-contacts-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contacts-link:hover {
  color: var(--accent-color-text);
}
.contacts-link:focus {
  color: var(--accent-color-text);
}
.contacts-link-fut:hover,
.contacts-link-fut:focus {
  color: var(--accent-color-text);
}

.map-link {
  color: var(--primari-bacground-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.map-link:hover,
.map-link:focus {
  color: var(--accent-color-text);
}

.conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.main-nav {
  display: flex;
  align-items: center;
}
.header-page {
  border-bottom: 1px solid var(--border-color);
  /* фиксация хедера при прокрутке */
  /* position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white; */
}
.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.nav-text {
  display: flex;
  padding-left: 0;
  margin-left: 93px;
}

.nav-text .item + .item {
  margin-left: 50px;
}
/* .nav-text .item:not(:last-child) {
    margin-right : 50px;
} */

.item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* .contacts-link {
  display: block;
  padding-top: 32px;
    padding-bottom: 32px;
} */
.contacts {
  display: flex;
  padding-left: 0px;
}
.contacts .item + .item {
  margin-left: 50px;
}
/* --ICON-HEADER-- */
.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.icon-envelope:hover .envelope,
.icon-envelope:focus .envelope {
  fill: var(--accent-color-text);
}

.icon-smartphone:hover .smartphone,
.icon-smartphone:focus .smartphone {
  fill: var(--accent-color-text);
}

/* ----HERO---- */
.hero {
  text-align: center;
  background-color: var(--background-secondery-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primari-bacground-color);
}
.hero-button {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color-text);
  color: var(--primari-bacground-color);
  cursor: pointer;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--bacground-hover-button);
}
.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image/hero-bg.jpg);
  background-size: cover;
}

/*  CONTEINER-FEATURES */
.features-page {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-item {
  display: flex;
  line-height: 1.7;
}

.features-text {
  width: 270px;
}
.features-text:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

/* --FEATURES-ICON */

.features-icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
}

/*  ---MAIN--- */
.specialization {
  margin-bottom: 50px;
}

.specialization-page {
  padding-bottom: 94px;
}

.pictures {
  display: flex;
}
.pictures-items:not(:last-child) {
  margin-right: 30px;
}

.thumb {
  position: relative;
}

.pictures-label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 27px 0 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primari-bacground-color);
  background: rgba(47, 48, 58, 0.8);
}

.features,
.specialization,
.staff,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/* ---STAFF--- */

.staff-items {
  display: flex;
}
/* .staff-items > .list-of-staff {
 
} */
.list-of-staff:not(:last-child) {
  margin-right: 30px;
}
.list-of-staff {
  /* border-right: 1px solid var(--borter-color);
  border-bottom: 1px solid var(--borter-color);
  border-left: 1px solid var(--borter-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--primari-bacground-color);
}
.staff {
  margin-bottom: 50px;
}
.staff-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.staff-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.staff-content {
  padding-top: 30px;
  margin-bottom: 16px;
}

.staff-list {
  background: var(--bacground-staff-color);
}

.staff-soc-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.staff-soc-item + .staff-soc-item {
  margin-left: 10px;
}

.staff-soc-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fill-icon);
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.staff-soc-icon {
  fill: currentColor;
}

.staff-soc-link:hover,
.staff-soc-link:focus {
  background-color: var(--accent-color-text);
  color: var(--primari-bacground-color);
}

/* --CLIENTS-- */

.clients-icon {
  display: flex;
  justify-content: center;
}

.clients-title {
  margin-bottom: 50px;
}

.icon-item + .icon-item {
  margin-left: 30px;
}
.client-link {
  width: 170px;
  height: 92px;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fill-icon);
  transition: color var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}
.logo {
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color-text);
  border: 1px solid var(--accent-color-text);
}

/* ---FOOTER--- */

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-link:not(:last-child) {
  margin-bottom: 9px;
}

.bottom-of-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-secondery-color);
}

/* --FOOTER-ICON-- */
.footer-page {
  display: flex;
  align-items: baseline;
}

.footer-page-item + .footer-page-item {
  margin-left: 70px;
}
.join {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primari-bacground-color);
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primari-bacground-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color-text);
  color: var(--primari-bacground-color);
}

/* --FOOTER-MODAL-- */

.modal-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  margin-left: 93px;
  
}

.submit-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-spam {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primari-bacground-color);
}

.imput-email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  background-color: var(--background-secondery-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.imput-email:focus{
  border: 1px solid var(--accent-color-text);
  filter: drop-shadow(0px 4px 4px var(--accent-color-text));
  
  
}

.imput-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.imput-email:not(placeholder){
  color: var(--primari-bacground-color);
}

.submit-btn {
  position: relative;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: none;
  background: var(--accent-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--primari-bacground-color);
  transition: bacground-color var(--transition-duration) var(--transition-timing-function);
}
.submit-btn:hover,
.submit-btn:focus{
  background-color: var(--bacground-hover-button);
}

.soc-spam {
  margin-bottom: 20px;
}
.name-btn{
  position: absolute;
  left: 29px;
  top: 50%;
  transform: translateY(-50%);

  margin-right: 10px;
}

.modal-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  
}

/* ---PORTFOLIO--- */
.filter-page {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-list {
  display: flex;
  justify-content: center;
}
.version + .version {
  margin-left: 8px;
}

.filter-items {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  letter-spacing: 00.03em;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--bacground-staff-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter-items:hover,
.filter-items:focus {
  color: var(--primari-bacground-color);
  background-color: var(--accent-color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}
.filter-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.filter-list {
  margin-bottom: 50px;
}
.filter-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-gap));
  margin-left: calc(-1 * var(--card-gap));
}
.filter-card > .card-item {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-top: var(--card-gap);
  margin-left: var(--card-gap);
}

.card-descripcion {
  padding: 20px 24px;
  border-right: var(--border-portfolio);
  border-bottom: var(--border-portfolio);
  border-left: var(--border-portfolio);
}
.card-item {
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}
.card-item:hover,
.card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-thumb {
  position: relative;
  overflow: hidden;
}

.filter-label {
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primari-bacground-color);
  background: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
  transform: translateY(100%);
}

.card-item:hover .filter-label {
  transform: translateY(0%);
}

/* --MODAL-WINDOW-- */
.backdrop {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: var(--transition-duration) var(--transition-timing-function);
  transform: translate(-50%, -50%) rotatey(0deg);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primari-bacground-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: rotatey(-240deg);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.close-btn-icon:hover,
.close-btn-icon:focus {
  fill: var(--accent-color-text);

  transition: var(--transition-duration) var(--transition-timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* --MODAL-STYLE-- */

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.modal-field:not(:last-child) {
  margin-bottom: 10px;
}
.modal-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-clor var(--transition-duration)
    var(--transition-timing-function);
}

.modal-input:hover,
.modal-input:focus,
.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color-text);
}

.modal-comment {
  margin-top: 4px;
}

.send-btn {
  width: 200px;
  height: 50px;

  background: var(--accent-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;

  color: var(--primari-bacground-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.modal-comment {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.comment {
  margin-bottom: 20px;
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.send-btn:hover,
.send-btn:focus{
  background-color: var(--bacground-hover-button);
}

.polici-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.input-polici {
  margin-right: 9px;
}

.polici-link {
  margin-left: 0.5em;
  color: var(--accent-color-text);
  border-bottom: 0.85px solid currentColor;
  display: inline-block;
  line-height: 0.85;
    
  

}

/* --MODAL-ICON-- */
.modal-input-box {
  position: relative;
}

.modal-field {
  margin-top: 10px;
}

.icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fil var(--transition-duration) var(--transition-timing-function);
}

.modal-input:hover,
.modal-input:focus + .icon-input {
  fill: var(--accent-color-text);
} 

/* --CHECK-BOX-- */

.modal-polici span{
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modal-polici{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-polici{
 fill: transparent;
}

.input-polici:checked + .modal-polici span{
  background-color: var(--accent-color-text);
  border: none;
}
